<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pizzas.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Pizzasappwatch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Pizzasappwatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA5E0E361D677F6D004A3EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5E0E4A1D677F6D004A3EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5E0E551D677F6D004A3EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAD863081D7DD1D900A3138E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
